html {
  background: url('lightbulb.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  background-color:black;
  color: #FFFFFF;
}

body {
  margin: 0;
}
h1 {
  font-size: 55px;
}
.content {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.right-align {
  float: right;
}
